<h1 class="visibility-hidden">{{ t 'community'}}</h1>

<section class="section hero community-hero">
  <div class="hero-inner">
    <div class="search-header">Community noticeboard</div>
    <h2 class="visibility-hidden">{{ t 'search'}}</h2>
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false class='search search-full' scoped=settings.scoped_community_search}}
    </div>
  </div>
</section>

<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
  </div>

  <header class="page-header community-header">
      <span class="dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          <h2 class="title">
            {{t 'all_posts'}}
          </h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <span class="dropdown-menu" role="menu">
          {{#link 'topics' role='menuitemradio'}}
            {{t 'show_topics'}}
          {{/link}}
          {{#link 'posts' role='menuitemradio' aria-checked='true'}}
            {{t 'show_all_posts'}}
          {{/link}}
        </span>
      </span>
    <span class="post-to-community">
      {{link 'new_post' class='button button-large'}}
    </span>
  </header>

  <div class="topic-header">
    <span class="topic-filters">
      <span class="dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_filter.label}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <span class="dropdown-menu" role="menu">
          {{#each filters}}
            <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
              {{name}}
            </a>
          {{/each}}
        </span>
      </span>
      <span class="dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_sorter.label}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <span class="dropdown-menu" role="menu">
          {{#each sorters}}
            <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
              {{name}}
            </a>
          {{/each}}
        </span>
      </span>
    </span>
  </div>

  <div id="main-content" class="posts-list striped-list">
    {{#if posts}}
      <ul>
        {{#each posts}}
          <li>
            <section role="region" aria-labelledby="title-{{id}}" class="striped-list-item {{#if featured}}post-featured{{/if}}">
              <span class="striped-list-info">
                <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
                <span class="post-overview-item">
                  {{#if pinned}}
                    <span class="status-label status-label-pinned"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M7.8 2.70005V6.00005L8.8625 7.06255C8.90417 7.10422 8.9375 7.15213 8.9625 7.2063C8.9875 7.26047 9 7.32088 9 7.38755V7.64767C9 7.77584 8.95688 7.8833 8.87063 7.97005C8.78438 8.05672 8.6775 8.10005 8.55 8.10005H6.45V10.875C6.45 11.0025 6.40712 11.1094 6.32137 11.1957C6.23562 11.2819 6.12937 11.325 6.00262 11.325C5.87587 11.325 5.76875 11.2819 5.68125 11.1957C5.59375 11.1094 5.55 11.0025 5.55 10.875V8.10005H3.45C3.3225 8.10005 3.21563 8.05672 3.12938 7.97005C3.04313 7.8833 3 7.77584 3 7.64767V7.38755C3 7.32088 3.0125 7.26047 3.0375 7.2063C3.0625 7.15213 3.09583 7.10422 3.1375 7.06255L4.2 6.00005V2.70005H4.05C3.9225 2.70005 3.81563 2.65717 3.72938 2.57142C3.64313 2.48567 3.6 2.37942 3.6 2.25267C3.6 2.12592 3.64313 2.0188 3.72938 1.9313C3.81563 1.8438 3.9225 1.80005 4.05 1.80005H7.95C8.0775 1.80005 8.18438 1.84292 8.27063 1.92867C8.35688 2.01442 8.4 2.12067 8.4 2.24742C8.4 2.37417 8.35688 2.4813 8.27063 2.5688C8.18438 2.6563 8.0775 2.70005 7.95 2.70005H7.8Z" fill="black"/>
</svg>{{t 'pinned'}}</span>
                  {{/if}}

                  {{#if featured}}
                    <span class="status-label status-label-featured"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M6.00023 8.43745L3.95023 9.66245C3.85857 9.71245 3.76898 9.73328 3.68148 9.72495C3.59398 9.71662 3.5169 9.68745 3.45023 9.63745C3.38357 9.58745 3.33357 9.5187 3.30023 9.4312C3.2669 9.3437 3.26273 9.25412 3.28773 9.16245L3.82523 6.87495L2.01273 5.33745C1.93773 5.27078 1.8919 5.1937 1.87523 5.1062C1.85857 5.0187 1.86273 4.93328 1.88773 4.84995C1.91273 4.76662 1.95857 4.69787 2.02523 4.6437C2.0919 4.58953 2.17523 4.55828 2.27523 4.54995L4.65023 4.33745L5.58773 2.16245C5.6294 2.07078 5.68773 2.00203 5.76273 1.9562C5.83773 1.91037 5.9169 1.88745 6.00023 1.88745C6.08357 1.88745 6.16273 1.91037 6.23773 1.9562C6.31273 2.00203 6.37107 2.07078 6.41273 2.16245L7.35023 4.34995L9.72523 4.54995C9.82523 4.55828 9.90857 4.59162 9.97523 4.64995C10.0419 4.70828 10.0877 4.77912 10.1127 4.86245C10.1377 4.94578 10.1398 5.02912 10.119 5.11245C10.0982 5.19578 10.0502 5.27078 9.97523 5.33745L8.17523 6.87495L8.71273 9.16245C8.73773 9.25412 8.73357 9.3437 8.70023 9.4312C8.6669 9.5187 8.6169 9.58745 8.55023 9.63745C8.48357 9.68745 8.40648 9.71662 8.31898 9.72495C8.23148 9.73328 8.1419 9.71245 8.05023 9.66245L6.00023 8.43745Z" fill="black"/>
</svg>{{t 'featured'}}</span>
                  {{/if}}

                  {{#is status 'none'}}
                  {{else}}
                    <span class="status-label-{{status_dasherized}} status-label striped-list-status"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M4.8625 7.38745L8.6 3.64995C8.69092 3.55828 8.79696 3.51245 8.91813 3.51245C9.03938 3.51245 9.14583 3.55828 9.2375 3.64995C9.32917 3.74162 9.375 3.8482 9.375 3.9697C9.375 4.0912 9.33079 4.19616 9.24238 4.28458L5.1875 8.34995C5.09658 8.44162 4.99054 8.48745 4.86937 8.48745C4.74812 8.48745 4.64167 8.44162 4.55 8.34995L2.7625 6.56245C2.67083 6.47078 2.625 6.36453 2.625 6.2437C2.625 6.12287 2.67083 6.01662 2.7625 5.92495C2.85417 5.83328 2.96112 5.78745 3.08337 5.78745C3.20554 5.78745 3.31108 5.83328 3.4 5.92495L4.8625 7.38745Z" fill="black"/>
</svg>{{status_name}}</span>
                  {{/is}}
                </span>

                <div class="meta-group">
                  <span class="meta-data">{{author.name}}</span>
                  {{#if editor}}
                    <span class="meta-data">{{date edited_at timeago=true}}</span>
                    <span class="meta-data">{{t 'edited'}}</span>
                  {{else}}
                    <span class="meta-data">{{date created_at timeago=true}}</span>
                  {{/if}}
                </div>
              </span>

              <div class="post-overview-count striped-list-count">
                <span class="striped-list-count-item">
                  <span class="striped-list-number">{{vote_sum}}</span>
                  {{t 'vote' count=vote_sum}}
                </span>
                <span class="striped-list-count-item">
                  <span class="striped-list-number">{{comment_count}}</span>
                  {{t 'comment' count=comment_count}}
                </span>
              </div>
            </section>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="no-posts-with-filter">{{t 'no_posts_with_filter'}}</div>
    {{/if}}
  </div>

  {{pagination}}

  {{#if featured_posts}}
    <section class="section community-featured-posts">
      <header class="featured-header">
      <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="star-icon"
            >
              <path
                d="M4.895 13.3897C4.51672 13.6179 4.05003 13.2793 4.1496 12.8489L4.96666 9.31665L2.22582 6.94041C1.89205 6.65105 2.07003 6.1027 2.51011 6.0645L6.13333 5.74998L7.53944 2.42302C7.71151 2.01589 8.28848 2.01589 8.46055 2.42302L9.86666 5.74998L13.4899 6.0645C13.93 6.1027 14.1079 6.65104 13.7742 6.94041L11.0333 9.31665L11.8504 12.8489C11.95 13.2793 11.4833 13.6179 11.105 13.3897L8 11.5166L4.895 13.3897Z"
                fill="#BD96CE"
              ></path>
            </svg><h2 class="featured-title">{{t 'featured_posts'}}</h2></header>
      <ul class="promoted-articles">
        {{#each featured_posts}}
          <li class="promoted-articles-item">
            <a href="{{url}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  <section class="community-activity activity">
    {{#if help_center.community_enabled}}
      {{recent_activity scope='community'}}
    {{/if}}
  </section>

  <section class="container community-footer">
    <h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2>
    {{link 'new_post' class='button button-large'}}
  </section>
</div>
