<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_community_search submit=false}}
    </div>
  </div>

  <div class="post-container">
    <div class="post">
      <article id="main-content">
        <div class="post-header">
          <div class="post-title">
            <h1 title="{{post.title}}">
              {{post.title}}
              {{#if post.internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                </svg>
              {{/if}}
            </h1>
            {{#if post.pinned}}
              <span class="status-label status-label-pinned"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M7.8 2.70005V6.00005L8.8625 7.06255C8.90417 7.10422 8.9375 7.15213 8.9625 7.2063C8.9875 7.26047 9 7.32088 9 7.38755V7.64767C9 7.77584 8.95688 7.8833 8.87063 7.97005C8.78438 8.05672 8.6775 8.10005 8.55 8.10005H6.45V10.875C6.45 11.0025 6.40712 11.1094 6.32137 11.1957C6.23562 11.2819 6.12937 11.325 6.00262 11.325C5.87587 11.325 5.76875 11.2819 5.68125 11.1957C5.59375 11.1094 5.55 11.0025 5.55 10.875V8.10005H3.45C3.3225 8.10005 3.21563 8.05672 3.12938 7.97005C3.04313 7.8833 3 7.77584 3 7.64767V7.38755C3 7.32088 3.0125 7.26047 3.0375 7.2063C3.0625 7.15213 3.09583 7.10422 3.1375 7.06255L4.2 6.00005V2.70005H4.05C3.9225 2.70005 3.81563 2.65717 3.72938 2.57142C3.64313 2.48567 3.6 2.37942 3.6 2.25267C3.6 2.12592 3.64313 2.0188 3.72938 1.9313C3.81563 1.8438 3.9225 1.80005 4.05 1.80005H7.95C8.0775 1.80005 8.18438 1.84292 8.27063 1.92867C8.35688 2.01442 8.4 2.12067 8.4 2.24742C8.4 2.37417 8.35688 2.4813 8.27063 2.5688C8.18438 2.6563 8.0775 2.70005 7.95 2.70005H7.8Z" fill="black"/>
</svg>{{t 'pinned'}}</span>
            {{/if}}

            {{#if post.featured}}
              <span class="status-label status-label-featured"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M6.00023 8.43745L3.95023 9.66245C3.85857 9.71245 3.76898 9.73328 3.68148 9.72495C3.59398 9.71662 3.5169 9.68745 3.45023 9.63745C3.38357 9.58745 3.33357 9.5187 3.30023 9.4312C3.2669 9.3437 3.26273 9.25412 3.28773 9.16245L3.82523 6.87495L2.01273 5.33745C1.93773 5.27078 1.8919 5.1937 1.87523 5.1062C1.85857 5.0187 1.86273 4.93328 1.88773 4.84995C1.91273 4.76662 1.95857 4.69787 2.02523 4.6437C2.0919 4.58953 2.17523 4.55828 2.27523 4.54995L4.65023 4.33745L5.58773 2.16245C5.6294 2.07078 5.68773 2.00203 5.76273 1.9562C5.83773 1.91037 5.9169 1.88745 6.00023 1.88745C6.08357 1.88745 6.16273 1.91037 6.23773 1.9562C6.31273 2.00203 6.37107 2.07078 6.41273 2.16245L7.35023 4.34995L9.72523 4.54995C9.82523 4.55828 9.90857 4.59162 9.97523 4.64995C10.0419 4.70828 10.0877 4.77912 10.1127 4.86245C10.1377 4.94578 10.1398 5.02912 10.119 5.11245C10.0982 5.19578 10.0502 5.27078 9.97523 5.33745L8.17523 6.87495L8.71273 9.16245C8.73773 9.25412 8.73357 9.3437 8.70023 9.4312C8.6669 9.5187 8.6169 9.58745 8.55023 9.63745C8.48357 9.68745 8.40648 9.71662 8.31898 9.72495C8.23148 9.73328 8.1419 9.71245 8.05023 9.66245L6.00023 8.43745Z" fill="black"/>
</svg>{{t 'featured'}}</span>
            {{/if}}

            {{#is post.status 'none'}}
            {{else}}
              <span class="status-label-{{post.status_dasherized}} status-label"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M4.8625 7.38745L8.6 3.64995C8.69092 3.55828 8.79696 3.51245 8.91813 3.51245C9.03938 3.51245 9.14583 3.55828 9.2375 3.64995C9.32917 3.74162 9.375 3.8482 9.375 3.9697C9.375 4.0912 9.33079 4.19616 9.24238 4.28458L5.1875 8.34995C5.09658 8.44162 4.99054 8.48745 4.86937 8.48745C4.74812 8.48745 4.64167 8.44162 4.55 8.34995L2.7625 6.56245C2.67083 6.47078 2.625 6.36453 2.625 6.2437C2.625 6.12287 2.67083 6.01662 2.7625 5.92495C2.85417 5.83328 2.96112 5.78745 3.08337 5.78745C3.20554 5.78745 3.31108 5.83328 3.4 5.92495L4.8625 7.38745Z" fill="black"/>
</svg>{{post.status_name}}</span>
            {{/is}}
          </div>
          {{#if settings.show_follow_post}}
            <div class="community-follow">
              {{subscribe}}
            </div>
          {{/if}}
        </div>

        <section class="post-info-container">
          <div class="post-info">
            <div class="post-author">
              <div class="avatar post-avatar">
                {{#if post.author.agent}}
                   <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" aria-hidden="true" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=post.author.name}}">
                    <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                  </svg>
                {{/if}}
                <img src="{{post.author.avatar_url}}" alt="" class="user-avatar"/>
              </div>
              <div class="post-meta">
                <span title="{{post.author.name}}">
                  {{#link 'user_profile' id=post.author.id}}
                    {{post.author.name}}
                  {{/link}}
                </span>

                <ul  aria-label="{{t 'badges'}}" class="community-badge-titles">
                  {{#each (filter post.author.badges on="category_slug" equals="titles")}}
                    <li class="community-badge community-badge-title" title="{{description}}" aria-label="{{name}}">
                      {{name}}
                    </li>
                  {{/each}}
                </ul>

                <div class="meta-group meta-group-opposite">
                  {{#if post.editor}}
                    <span class="meta-data">{{date post.edited_at timeago=true}}</span>
                    <span class="meta-data">{{t 'edited'}}</span>
                  {{else}}
                    <span class="meta-data">{{date post.created_at timeago=true}}</span>
                  {{/if}}
                </div>
                <ul aria-label="{{t 'badges'}}" class="community-badge-achievements">
                  {{#each (slice (filter post.author.badges on="category_slug" equals="achievements") 0 4)}}
                    <li class="community-badge community-badge-achievement">
                      <img src="{{icon_url}}" alt="{{name}}" title="{{name}} | {{description}}" />
                    </li>
                  {{/each}}

                  {{#if (compare (calc post.author.badges.length "-" 4) ">" 0)}}
                    <li class="community-badge community-badge-achievement">
                      <a href="{{page_path "user_profile" id=post.author.id filter_by="badges"}}" class="community-badge-achievements-rest"  aria-label="{{t 'more_awards_to' count=(calc post.author.badges.length "-" 4) name=post.author.name}}">
                        {{t 'plus_more' count=(calc post.author.badges.length "-" 4)}}
                      </a>
                    </li>
                  {{/if}}

                </ul>
              </div>

              {{#if post.pending}}
                <span class="status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
              {{/if}}

              {{#with post.ticket}}
                <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                  {{t 'request'}}{{id}}
                </a>
              {{/with}}
            </div>


            <div class="post-content">
              <div class="post-body">{{post.details}}</div>
            </div>

            {{#if (compare post.content_tags.length ">" 0)}}
              <section class="content-tags">
                <p>{{t 'content_tags_label'}}</p>
                <ul class="content-tag-list">
                  {{#each post.content_tags}}
                    <li class="content-tag-item" data-content-tag-id="{{id}}">
                      {{#link "search_result" content_tag_id=id}}
                        {{name}}
                      {{/link}}
                    </li>
                  {{/each}}
                </ul>
              </section>
            {{/if}}
          </div>

          <div class="post-actions-wrapper">
            <div class="post-vote vote" role="group">
              {{#with post}}
                {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M840-625q27 0 49.5 22.5T912-553v57q0 8-1.5 15t-4.5 13L787-189q-9 21-33.5 33T706-144l-442-1v-480l234-234q19-19 43.5-24.5t44 5.5q19.5 11 25 35.5T610-789l-34 164h264Zm-504 30v378h384l120-279v-57H488l49-242-201 200ZM120-145q-31 0-51.5-21.15T48-217v-336q0-29.7 20.5-50.85Q89-625 120-625h144v72H120v336h144v72H120Zm216-72v-378 378Z"/></svg>
                {{/vote}}
                {{vote 'sum' class='vote-sum'}}
                {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M120-336q-27 0-49.5-22.5T48-408v-57q0-8 1.5-15t4.5-13l119-279q9-21 33.5-33t47.5-12l442 1v480L462-102q-19 19-43.5 24.5t-44-5.5q-19.5-11-25-35.5t.5-53.5l34-164H120Zm504-30v-378H240L120-465v57h352l-49 242 201-200Zm216-450q31 0 51.5 21.15T912-744v336q0 29.7-20.5 50.85Q871-336 840-336H696v-72h144v-336H696v-72h144Zm-216 72v378-378Z"/></svg>
                {{/vote}}
              {{/with}}
            </div>

            <div class="post-actions actions">
              {{#post.actions}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
               <path fill="none" stroke="currentColor" d="M13.17 3.07l-1.64.71c-.48-.4-1.03-.72-1.63-.94l-.22-1.79a.511.511 0 00-.4-.44C8.86.54 8.44.5 8 .5c-.44 0-.86.04-1.28.11-.22.04-.38.22-.4.44l-.21 1.79c-.6.22-1.15.54-1.63.94l-1.65-.71a.491.491 0 00-.58.13c-.55.65-.99 1.4-1.29 2.21-.08.21 0 .44.18.58l1.45 1.08a4.91 4.91 0 000 1.87l-1.45 1.08c-.18.13-.25.37-.18.58.3.81.74 1.55 1.28 2.2.14.17.38.22.58.13l1.65-.71c.48.4 1.03.72 1.63.94l.21 1.79c.03.22.19.4.4.44.43.07.85.11 1.29.11.44 0 .86-.04 1.28-.11.22-.04.38-.22.4-.44l.21-1.79c.6-.22 1.15-.54 1.63-.94l1.65.71c.2.09.44.04.58-.13.54-.65.98-1.39 1.28-2.2.08-.21 0-.44-.18-.57L13.4 8.95c.07-.32.1-.63.1-.95s-.03-.63-.09-.94l1.45-1.08c.18-.13.25-.37.18-.58-.3-.81-.74-1.55-1.28-2.2a.51.51 0 00-.59-.13z"/>
               <circle cx="8" cy="8" r="2.5" fill="none" stroke="currentColor"/>
              </svg>
              {{/post.actions}}
            </div>
          </div>
        </section>

        {{#if settings.show_post_sharing}}
          <footer class="post-footer">
            <div class="post-share">{{share}}</div>
            {{#if comments}}
              <a href="#comment-overview" class="post-comment-count">
                <svg role="img" aria-labelledby="post-comments-title post-comments-desc" xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-comments">
                  <title id="post-comments-title">{{t 'go_to_comments'}}</title>
                  <desc id="post-comments-desc">{{t 'comments_count' count=post.comment_count}}</desc>
                  <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                </svg>
                <span aria-hidden="true">{{post.comment_count}}</span>
              </a>
            {{/if}}
          </footer>
        {{/if}}
      </article>

      <section class="comment-overview" id="comment-overview">
        <h2 class="comment-heading">
          {{t 'comments'}}
        </h2>
        <p class="comment-callout">{{t 'comments_count' count=post.comment_count}}</p>
        {{#if comments}}
          <div class="dropdown comment-sorter">
            <button class="dropdown-toggle" aria-haspopup="true">
              {{t 'sort_by'}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
              </svg>
            </button>
            <span class="dropdown-menu" role="menu">
              {{#each comment_sorters}}
                <a aria-checked="{{selected}}" href="{{url}}" role="menuitemradio">{{name}}</a>
              {{/each}}
            </span>
          </div>
        {{/if}}
      </section>

      <ul id="comments" class="comment-list">
        {{#each comments}}
          <li id="{{anchor}}" class="comment">
            <div class="comment-wrapper {{#if official}} comment-official {{/if}}">
              <div class="comment-info">
                {{#if official}}
                  <span class="comment-official status-label status-label-official">{{t 'official_comment'}}</span>
                {{/if}}

                <div class="comment-author">
                  <div class="avatar comment-avatar">
                    {{#if author.agent}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" aria-hidden="true" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=author.name}}">
                        <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                      </svg>
                    {{/if}}
                    <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                  </div>
                  <div class="comment-meta">
                    <span title="{{author.name}}" id="{{anchor}}-author">
                      {{#link 'user_profile' id=author.id}}
                        {{author.name}}
                      {{/link}}
                    </span>

                    <ul aria-label="{{t 'badges'}}" class="community-badge-titles">
                      {{#each (filter author.badges on="category_slug" equals="titles")}}
                        <li class="community-badge community-badge-title" title="{{description}}" aria-label="{{name}}">
                          {{name}}
                        </li>
                      {{/each}}
                    </ul>

                    <div class="meta-group meta-group-opposite">
                      {{#if editor}}
                        <span class="meta-data">{{date edited_at timeago=true}}</span>
                        <span class="meta-data">{{t 'edited'}}</span>
                      {{else}}
                        <span class="meta-data">{{date created_at timeago=true}}</span>
                      {{/if}}
                    </div>

                    <ul aria-label="{{t 'badges'}}" class="community-badge-achievements">
                      {{#each (slice (filter author.badges on="category_slug" equals="achievements") 0 4)}}
                        <li class="community-badge community-badge-achievement">
                          <img src="{{icon_url}}" alt="{{name}}" title="{{name}} | {{description}}" />
                        </li>
                      {{/each}}

                      {{#if (compare (calc author.badges.length "-" 4) ">" 0)}}
                        <li class="community-badge community-badge-achievement">
                          <a href="{{page_path "user_profile" id=author.id filter_by="badges"}}" class="community-badge-achievements-rest"  aria-label="{{t 'more_awards_to' count=(calc author.badges.length "-" 4) name=author.name}}">
                            {{t 'plus_more' count=(calc author.badges.length "-" 4)}}
                          </a>
                        </li>
                      {{/if}}
                    </ul>

                  </div>
                  <div class="comment-labels">
                    {{#with ticket}}
                      <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                        {{t 'request'}} {{id}}
                      </a>
                    {{/with}}
                    {{#if pending}}
                      <span class="comment-pending status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
                    {{/if}}
                  </div>
                </div>

                <section class="comment-body" id="{{anchor}}-body">{{body}}</section>
              </div>

              <div class="comment-actions-container">
                {{#unless official}}
                  <div class="comment-vote vote" role="group">
                    {{#vote 'up' class='vote-up' selected_class='vote-voted' aria-describedby=(concat anchor "-author " anchor "-body")}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                    </svg>
                    {{/vote}}
                    {{vote 'sum' class='vote-sum'}}
                    {{#vote 'down' class='vote-down' selected_class='vote-voted' aria-describedby=(concat anchor "-author " anchor "-body")}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                    </svg>
                    {{/vote}}
                  </div>
                {{/unless}}
                <div class="comment-actions actions">
                  {{#actions}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                   <path fill="none" stroke="currentColor" d="M13.17 3.07l-1.64.71c-.48-.4-1.03-.72-1.63-.94l-.22-1.79a.511.511 0 00-.4-.44C8.86.54 8.44.5 8 .5c-.44 0-.86.04-1.28.11-.22.04-.38.22-.4.44l-.21 1.79c-.6.22-1.15.54-1.63.94l-1.65-.71a.491.491 0 00-.58.13c-.55.65-.99 1.4-1.29 2.21-.08.21 0 .44.18.58l1.45 1.08a4.91 4.91 0 000 1.87l-1.45 1.08c-.18.13-.25.37-.18.58.3.81.74 1.55 1.28 2.2.14.17.38.22.58.13l1.65-.71c.48.4 1.03.72 1.63.94l.21 1.79c.03.22.19.4.4.44.43.07.85.11 1.29.11.44 0 .86-.04 1.28-.11.22-.04.38-.22.4-.44l.21-1.79c.6-.22 1.15-.54 1.63-.94l1.65.71c.2.09.44.04.58-.13.54-.65.98-1.39 1.28-2.2.08-.21 0-.44-.18-.57L13.4 8.95c.07-.32.1-.63.1-.95s-.03-.63-.09-.94l1.45-1.08c.18-.13.25-.37.18-.58-.3-.81-.74-1.55-1.28-2.2a.51.51 0 00-.59-.13z"/>
                   <circle cx="8" cy="8" r="2.5" fill="none" stroke="currentColor"/>
                  </svg>
                  {{/actions}}
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>

      {{pagination}}

      <section class="post-comments">
        {{#form 'comment' class='comment-form hbs-form'}}
          <div class="avatar comment-avatar">
            {{user_avatar class='user-avatar'}}
          </div>
          <div class="comment-container">
            {{wysiwyg 'body'}}
            <div class="comment-form-controls">
              {{checkbox 'official'}}
              {{label 'official'}}
              {{input type='submit' class="button button-large"}}
            </div>
          </div>
        {{/form}}
      </section>

      <p class="comment-callout">{{comment_callout}}</p>
    </div>

    <section class="post-sidebar">
      <div class="post-sidebar-inner">
        <h2 class="post-sidebar-title">{{t 'suggest_new_post'}}</h2>
      <span class="post-to-community">
        {{link 'new_post' class='button button-large'}}
      </span>
      </div>
    </section>
  </div>
</div>
