<footer class="footer">
  <div class="acknowledgment-banner">
    We acknowledge the Traditional Owners and Custodians of the lands on which we
    work and pay our respects to Indigenous Elders past, present and emerging.
  </div>
  <div class="main-footer container">
    <div class="header-container">
      <div class="logo-container"><a href="https://thefeelgoodclinic.com/">
        <svg
          width="165"
          height="28"
          viewBox="0 0 165 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="logo"
        >
          <g clip-path="url(#clip0_1070_335)">
            <path
              d="M163.409 0H0V1.71267H0.0149333V10.6036H18.1729V1.71267H162.551V14.1017H164.263V0.857733C164.265 0.3864 163.884 0.00186667 163.413 0H163.409ZM6.78907 2.87373C6.78907 2.98947 6.69573 3.0828 6.58 3.0828C6.57907 3.0828 6.5772 3.0828 6.57627 3.0828H6.2076V8.59693C6.20853 8.71267 6.11613 8.80693 6.0004 8.80787C5.99853 8.80787 5.99573 8.80787 5.99387 8.80787H5.69053C5.5748 8.8088 5.48053 8.7164 5.4796 8.60067V3.0828H5.10627C4.99147 3.08467 4.89627 2.9932 4.8944 2.8784V2.57133C4.8972 2.4556 4.99053 2.3632 5.10627 2.3604H6.5716C6.68733 2.3632 6.78067 2.4556 6.7844 2.57133L6.78907 2.87373ZM10.1491 8.596C10.1509 8.7108 10.0585 8.80507 9.94373 8.80693H9.6432C9.5284 8.80787 9.43413 8.71547 9.4332 8.60067V5.95H8.56707V8.596C8.56893 8.7108 8.47653 8.80507 8.36173 8.80693H8.0528C7.93613 8.80693 7.84093 8.71267 7.84093 8.596V2.57787C7.83907 2.4584 7.93333 2.35947 8.0528 2.35573H8.35707C8.47187 2.35853 8.56427 2.45187 8.56707 2.56667V5.2248H9.4332V2.57133C9.436 2.45653 9.5284 2.3632 9.6432 2.3604H9.93907C10.0539 2.36413 10.1463 2.45653 10.1491 2.57133V8.596ZM13.006 2.87373C13.006 2.98853 12.9136 3.08187 12.7988 3.0828H12.0251V5.22947H12.796C12.9117 5.22947 13.006 5.32467 13.006 5.4404V5.74373C13.0032 5.85853 12.9108 5.95093 12.796 5.95467H12.0251V8.078H12.796C12.9108 8.08173 13.0032 8.17413 13.006 8.28893V8.5932C13.006 8.70893 12.9117 8.8032 12.796 8.80413H11.662C11.4632 8.80693 11.2999 8.6492 11.2971 8.4504V2.72067C11.2971 2.51907 11.4604 2.35573 11.662 2.35573H12.796C12.9108 2.35947 13.0032 2.45187 13.006 2.56667V2.87373ZM143.086 26.2845H1.73787V14.2296H0.0233333V26.9733C0.014 27.0293 0.00933333 27.0853 0.0084 27.1423C0.0084 27.6164 0.392 28 0.866133 28H164.264V17.3936H143.086V26.2845ZM159.129 20.2011C159.129 19.5645 159.644 19.0493 160.28 19.0493C160.917 19.0493 161.432 19.5645 161.432 20.2011V20.524C161.434 20.6397 161.342 20.734 161.226 20.7359H160.917C160.801 20.7359 160.707 20.6425 160.706 20.5268V20.2011C160.704 19.9649 160.511 19.7745 160.274 19.7764C160.041 19.7783 159.851 19.9677 159.849 20.2011V24.3451C159.851 24.5812 160.044 24.7716 160.281 24.7697C160.515 24.7679 160.704 24.5784 160.706 24.3451V23.9923C160.704 23.8775 160.797 23.7832 160.911 23.7813H161.223C161.338 23.7804 161.431 23.8719 161.432 23.9867V24.3451C161.432 24.9816 160.917 25.4968 160.28 25.4968C159.644 25.4968 159.129 24.9816 159.129 24.3451V20.2011ZM157.251 19.2677C157.249 19.1483 157.343 19.0503 157.463 19.0484H157.765C157.882 19.0493 157.976 19.1427 157.979 19.2593V25.2859C157.98 25.4016 157.887 25.4959 157.772 25.4968C157.77 25.4968 157.767 25.4968 157.765 25.4968H157.463C157.347 25.4987 157.253 25.4063 157.251 25.2905V19.2677ZM153.784 20.2123C153.784 19.572 154.303 19.0531 154.944 19.0531C155.584 19.0531 156.103 19.572 156.103 20.2123V25.2877C156.104 25.4035 156.011 25.4977 155.896 25.4987C155.894 25.4987 155.892 25.4987 155.89 25.4987H155.585C155.47 25.4996 155.377 25.4081 155.376 25.2933V20.2113C155.381 19.9752 155.195 19.7792 154.959 19.7736C154.956 19.7736 154.952 19.7736 154.949 19.7736C154.71 19.7708 154.514 19.9612 154.511 20.2001V25.2868C154.514 25.3997 154.426 25.4949 154.312 25.4977C154.308 25.4977 154.304 25.4977 154.301 25.4977H153.996C153.881 25.4996 153.786 25.4081 153.784 25.2933V20.2123ZM151.911 19.2677C151.909 19.1492 152.004 19.0512 152.122 19.0484H152.429C152.544 19.0512 152.636 19.1445 152.637 19.2593V25.2859C152.639 25.4007 152.549 25.4949 152.434 25.4968C152.432 25.4968 152.431 25.4968 152.429 25.4968H152.122C152.009 25.4996 151.914 25.4109 151.911 25.2971C151.911 25.2933 151.911 25.2896 151.911 25.2859V19.2677ZM149.159 19.2603C149.161 19.1445 149.254 19.0512 149.37 19.0493H149.676C149.79 19.0559 149.88 19.1464 149.885 19.2603V24.7725H150.647C150.761 24.7763 150.854 24.8696 150.857 24.9844V25.2868C150.859 25.4016 150.767 25.4959 150.652 25.4977H149.527C149.329 25.5005 149.165 25.3428 149.163 25.1449V25.1356L149.159 19.2603ZM145.799 20.202C145.817 19.5645 146.348 19.0624 146.985 19.0801C147.597 19.0969 148.089 19.5897 148.107 20.202V20.5249C148.107 20.6416 148.014 20.7359 147.897 20.7368H147.591C147.475 20.7368 147.381 20.6416 147.382 20.5259V20.202C147.382 19.9659 147.19 19.7745 146.954 19.7745C146.718 19.7745 146.527 19.9659 146.527 20.202V24.346C146.527 24.5821 146.718 24.7735 146.954 24.7735C147.19 24.7735 147.382 24.5821 147.382 24.346V23.9932C147.38 23.8784 147.472 23.7841 147.587 23.7823H147.895C148.011 23.7804 148.105 23.8728 148.107 23.9885V24.346C148.089 24.9835 147.558 25.4856 146.921 25.4679C146.308 25.4511 145.817 24.9583 145.799 24.346V20.202ZM101.234 16.4379C101.234 17.6344 102.205 18.6051 103.401 18.6051C104.598 18.6051 105.568 17.6344 105.568 16.4379V11.4847C105.568 10.2881 104.598 9.31747 103.401 9.31747C102.205 9.31747 101.234 10.2881 101.234 11.4847V16.4379ZM102.434 11.4856C102.438 10.9517 102.874 10.5224 103.407 10.5261C103.935 10.5299 104.362 10.9573 104.365 11.4856V16.4379C104.369 16.9717 103.94 17.4067 103.407 17.4104C102.873 17.4141 102.438 16.9848 102.434 16.4509V11.4847V11.4856ZM88.0115 11.5052C88.0115 10.3133 88.9775 9.34733 90.1693 9.34733C91.3612 9.34733 92.3272 10.3133 92.3272 11.5052V12.1417C92.33 12.306 92.1984 12.4413 92.0341 12.4441C92.0313 12.4441 92.0285 12.4441 92.0257 12.4441H91.4265C91.2623 12.4469 91.1269 12.3172 91.1241 12.1529C91.1241 12.1492 91.1241 12.1455 91.1241 12.1417V11.5052C91.1269 10.9769 90.7013 10.5476 90.1731 10.5448C89.6448 10.542 89.2155 10.9676 89.2127 11.4959V16.4789C89.2099 17.0072 89.6355 17.4365 90.1637 17.4393C90.692 17.4421 91.1213 17.0165 91.1241 16.4883V14.5479H90.4708C90.3112 14.5516 90.1787 14.4275 90.1712 14.2679V13.6677C90.1693 13.5044 90.3 13.37 90.4633 13.3681C90.4661 13.3681 90.468 13.3681 90.4708 13.3681H92.0276C92.1919 13.3653 92.3263 13.496 92.3291 13.6603V16.4789C92.3291 17.6708 91.3631 18.6368 90.1712 18.6368C88.9793 18.6368 88.0133 17.6708 88.0133 16.4789L88.0115 11.5061V11.5052ZM128.562 9.93067V18.0133C128.57 18.3419 128.835 18.6069 129.164 18.6144H130.739C131.933 18.6125 132.899 17.6428 132.897 16.4491V11.5061C132.906 10.3124 131.944 9.338 130.751 9.3296C130.747 9.3296 130.743 9.3296 130.739 9.3296H129.164C128.833 9.33147 128.564 9.59933 128.562 9.93067ZM129.763 10.5308H130.739C131.271 10.5355 131.7 10.9713 131.695 11.5043V16.4379C131.693 16.9652 131.266 17.3927 130.739 17.3945H129.763V10.5308ZM115.194 16.4379C115.194 17.6344 116.164 18.6041 117.361 18.6041C118.559 18.6041 119.527 17.6344 119.527 16.4379V11.4847C119.527 10.2881 118.558 9.3184 117.361 9.3184C116.165 9.3184 115.194 10.2881 115.194 11.4847V16.4379ZM116.395 11.4856C116.396 10.9527 116.83 10.5215 117.363 10.5233C117.894 10.5243 118.324 10.9545 118.325 11.4856V16.4379C118.326 16.9708 117.896 17.4039 117.363 17.4057C116.83 17.4076 116.397 16.9764 116.395 16.4435V11.4865V11.4856ZM57.2731 10.5308V13.3625H58.9036C59.0669 13.3607 59.2013 13.4913 59.2032 13.6547V14.2623C59.206 14.4256 59.0753 14.56 58.912 14.5628C58.9092 14.5628 58.9064 14.5628 58.9036 14.5628H57.2731V17.4113H58.9036C59.0679 17.4095 59.2013 17.5411 59.2032 17.7053V18.312C59.206 18.4753 59.0753 18.6097 58.912 18.6125C58.9092 18.6125 58.9064 18.6125 58.9036 18.6125H56.6711C56.3407 18.6097 56.0728 18.3419 56.0709 18.0115V9.9288C56.0672 9.6012 56.3295 9.33147 56.6571 9.32773C56.6617 9.32773 56.6664 9.32773 56.6711 9.32773H58.9036C59.0679 9.32587 59.2013 9.45747 59.2032 9.62173V10.2303C59.2032 10.3945 59.0707 10.528 58.9064 10.5289H58.9036L57.2731 10.5308ZM43.3132 10.5308V13.3625H44.9447C45.1071 13.3607 45.2405 13.4904 45.2424 13.6528C45.2424 13.6556 45.2424 13.6593 45.2424 13.6621V14.2623C45.2461 14.4237 45.1192 14.5591 44.9568 14.5628C44.9531 14.5628 44.9484 14.5628 44.9447 14.5628H43.3132V17.4113H44.9447C45.108 17.4095 45.2405 17.5401 45.2424 17.7035V18.312C45.2461 18.4735 45.1192 18.6088 44.9568 18.6125C44.9531 18.6125 44.9484 18.6125 44.9447 18.6125H42.7121C42.3808 18.6116 42.112 18.3428 42.1111 18.0115V9.9288C42.1055 9.60213 42.3668 9.33333 42.6935 9.32773C42.7 9.32773 42.7056 9.32773 42.7121 9.32773H44.9447C45.1071 9.32587 45.2405 9.4556 45.2424 9.618C45.2424 9.6208 45.2424 9.62453 45.2424 9.62733V10.2303C45.2443 10.3927 45.1145 10.5271 44.9512 10.5289H44.9447L43.3132 10.5308ZM29.4793 10.5308V13.3625H31.108C31.2732 13.3597 31.4095 13.4904 31.4123 13.6556V14.2623C31.4132 14.4275 31.2807 14.5619 31.1155 14.5628C31.1127 14.5628 31.1108 14.5628 31.108 14.5628H29.4793V18.3139C29.4812 18.4781 29.3505 18.6125 29.1863 18.6144C29.1835 18.6144 29.1797 18.6144 29.1769 18.6144H28.5787C28.4163 18.6172 28.2809 18.4884 28.2781 18.3251C28.2781 18.3213 28.2781 18.3176 28.2781 18.3139V9.93067C28.2735 9.604 28.5339 9.3352 28.8605 9.3296C28.8661 9.3296 28.8708 9.3296 28.8764 9.3296H31.108C31.2732 9.3268 31.4095 9.45933 31.4123 9.62453V10.2321C31.4123 10.3973 31.2769 10.5317 31.1117 10.5308C31.1108 10.5308 31.1089 10.5308 31.108 10.5308H29.4793ZM70.9511 9.3296C71.1135 9.3352 71.2441 9.46587 71.2497 9.62827V17.4113H72.8625C73.0268 17.4095 73.1612 17.5401 73.1631 17.7044V18.312C73.1584 18.4763 73.0268 18.6079 72.8625 18.6116H70.6515C70.3201 18.6097 70.0523 18.3419 70.0504 18.0105V9.62733C70.0485 9.464 70.1801 9.33053 70.3435 9.32867C70.3463 9.32867 70.3491 9.32867 70.3519 9.32867H70.952"
              fill="black"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0_1070_335">
              <rect width="164.264" height="28" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        </a></div>
      <nav class="navigation">
        <a href="#" class="nav-link">Services</a>
        <a href="#" class="nav-link">Practitioners</a>
        <a href="#" class="nav-link">Rates</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Journal</a>
        <a href="#" class="nav-link">Careers</a>
      </nav>
    </div>
    <div class="footer-content">
      <address class="contact-info">
        <p class="address">Suite 1, 59 Buckingham St,<br/> Surry Hills 2010, Sydney.</p>
        <p class="hours"><a href="">View clinic hours</a></p>
        <div class="phone-container">
          <p class="phone">Phone (02) 9056 8142</p>
          <p class="fax">Fax (02) 9475 0041</p>
        </div>
        <a href="mailto:hello@thefeelgoodclinic.com" class="email">hello@thefeelgoodclinic.com</a>
      </address>
      <div class="footer-right">
        <div class="social-icons">          
          <a href="https://www.instagram.com/thefeelgoodclinic" class="social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M6.68675 2.05595C5.83555 2.09611 5.25426 2.23195 4.7461 2.43163C4.22018 2.63659 3.77442 2.91163 3.3309 3.35675C2.88738 3.80188 2.61426 4.24796 2.41073 4.77468C2.21377 5.28396 2.08033 5.86572 2.04273 6.71741C2.00513 7.56909 1.99681 7.84285 2.00097 10.0153C2.00513 12.1878 2.01473 12.4601 2.05601 13.3136C2.09665 14.1646 2.23201 14.7458 2.43169 15.2541C2.63698 15.78 2.9117 16.2256 3.35698 16.6693C3.80226 17.113 4.24802 17.3854 4.77602 17.5893C5.28482 17.7859 5.86675 17.92 6.71827 17.9573C7.56979 17.9946 7.84387 18.0032 10.0157 17.999C12.1876 17.9949 12.461 17.9853 13.3143 17.9448C14.1676 17.9043 14.7457 17.768 15.2541 17.5693C15.7801 17.3635 16.226 17.0893 16.6693 16.6438C17.1127 16.1984 17.3857 15.752 17.589 15.225C17.7861 14.7162 17.9201 14.1342 17.957 13.2833C17.9943 12.4294 18.0031 12.1568 17.9989 9.98462C17.9948 7.81245 17.985 7.54013 17.9445 6.68701C17.9041 5.83388 17.7685 5.25452 17.569 4.74588C17.3634 4.21996 17.089 3.77468 16.6439 3.33067C16.1988 2.88667 15.7521 2.61387 15.2252 2.41099C14.7161 2.21403 14.1345 2.07979 13.2829 2.04299C12.4314 2.00619 12.1573 1.99675 9.98468 2.00091C7.81203 2.00507 7.54003 2.01435 6.68675 2.05595ZM6.78019 16.5181C6.00019 16.4842 5.57667 16.3546 5.29442 16.2461C4.92066 16.1021 4.65442 15.928 4.37314 15.6494C4.09186 15.3709 3.91906 15.1037 3.77314 14.7307C3.66354 14.4485 3.53154 14.0254 3.49506 13.2454C3.45538 12.4024 3.44706 12.1493 3.44242 10.0134C3.43778 7.87757 3.44594 7.62477 3.4829 6.78141C3.51618 6.00204 3.64658 5.57804 3.7549 5.29596C3.8989 4.92172 4.07234 4.65596 4.35154 4.37484C4.63074 4.09372 4.89714 3.9206 5.27042 3.77468C5.55235 3.6646 5.97539 3.53372 6.75507 3.4966C7.59875 3.4566 7.85155 3.4486 9.98708 3.44396C12.1226 3.43932 12.376 3.44732 13.2201 3.48444C13.9994 3.51836 14.4236 3.64748 14.7053 3.75644C15.0793 3.90044 15.3453 4.0734 15.6265 4.35308C15.9076 4.63276 16.0809 4.8982 16.2268 5.27228C16.337 5.5534 16.4679 5.97628 16.5047 6.75645C16.5449 7.60013 16.554 7.85309 16.5578 9.98846C16.5617 12.1238 16.5541 12.3774 16.5172 13.2205C16.4831 14.0005 16.3538 14.4242 16.2452 14.7067C16.1012 15.0803 15.9276 15.3467 15.6482 15.6277C15.3689 15.9086 15.1028 16.0818 14.7293 16.2277C14.4477 16.3376 14.0242 16.4688 13.2452 16.5059C12.4015 16.5456 12.1487 16.5539 10.0124 16.5586C7.87603 16.5632 7.62403 16.5546 6.78035 16.5181M13.302 5.72428C13.3023 5.91417 13.3589 6.09969 13.4647 6.25739C13.5704 6.4151 13.7206 6.53789 13.8962 6.61025C14.0717 6.68261 14.2648 6.70128 14.4509 6.6639C14.6371 6.62652 14.808 6.53477 14.942 6.40026C15.0761 6.26575 15.1672 6.09451 15.2039 5.9082C15.2406 5.7219 15.2212 5.5289 15.1482 5.3536C15.0752 5.17831 14.9518 5.02861 14.7938 4.92343C14.6357 4.81824 14.4499 4.7623 14.2601 4.76268C14.0055 4.76319 13.7616 4.86478 13.5819 5.0451C13.4022 5.22543 13.3015 5.46973 13.302 5.72428ZM5.89235 10.008C5.89683 12.2768 7.73939 14.1118 10.0077 14.1075C12.276 14.1032 14.1124 12.2608 14.1081 9.99198C14.1037 7.72317 12.2607 5.88764 9.99204 5.89212C7.72339 5.8966 5.88803 7.73949 5.89235 10.008ZM7.33331 10.0051C7.33227 9.47767 7.48765 8.96178 7.7798 8.52266C8.07196 8.08354 8.48777 7.74091 8.97465 7.53811C9.46153 7.33531 9.99761 7.28144 10.5151 7.38331C11.0326 7.48518 11.5083 7.73822 11.882 8.11043C12.2556 8.48264 12.5106 8.9573 12.6145 9.47439C12.7184 9.99148 12.6667 10.5278 12.4658 11.0155C12.2649 11.5031 11.9239 11.9203 11.486 12.2142C11.048 12.5081 10.5327 12.6655 10.0053 12.6665C9.65511 12.6673 9.30818 12.599 8.98436 12.4657C8.66053 12.3323 8.36614 12.1365 8.11802 11.8893C7.86989 11.6422 7.67288 11.3486 7.53824 11.0253C7.4036 10.702 7.33396 10.3553 7.33331 10.0051Z" fill="black"/>
</svg>
          </a>
          <a href="https://www.facebook.com/share/19QurcAxrf/?mibextid=wwXIfr" class="social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M10.0007 1.66821C5.39905 1.66821 1.66821 5.39905 1.66821 10.0007C1.66821 14.159 4.71488 17.6057 8.69905 18.2332V12.4099H6.58238V10.0007H8.69905V8.16488C8.69905 6.07488 9.94321 4.92238 11.8457 4.92238C12.7574 4.92238 13.7124 5.08488 13.7124 5.08488V7.13405H12.659C11.6257 7.13405 11.3024 7.77738 11.3024 8.43655V9.99905H13.6115L13.2424 12.4082H11.3024V18.2315C15.2865 17.6074 18.3332 14.1599 18.3332 10.0007C18.3332 5.39905 14.6024 1.66821 10.0007 1.66821Z" fill="black"/>
</svg>
          </a>
          <a href="https://api.whatsapp.com/message/Y4QXE6UJS2E7J1" class="social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3775 3.61567C15.5455 2.7832 14.557 2.12351 13.4689 1.67462C12.3809 1.22573 11.2147 0.996482 10.0377 1.00004C5.09818 1.00004 1.07714 5.00102 1.07511 9.91964C1.07293 11.4858 1.48582 13.0247 2.27163 14.3795L1 19L5.75114 17.7597C7.0662 18.4722 8.53842 18.845 10.0342 18.8445H10.0378C14.9769 18.8445 18.9976 14.8432 19 9.92489C19.003 8.75194 18.7727 7.59005 18.3224 6.50688C17.8722 5.42374 17.2111 4.44093 16.3775 3.61567ZM10.0378 17.3391H10.0346C8.7012 17.3394 7.39207 16.9826 6.24331 16.3056L5.97128 16.1449L3.15197 16.881L3.90449 14.1452L3.72732 13.864C2.98176 12.6836 2.58675 11.3158 2.58824 9.91964C2.58824 5.83234 5.93152 2.50674 10.0406 2.50674C12.0117 2.50322 13.9036 3.2828 15.3 4.67401C16.6964 6.06522 17.483 7.95411 17.4868 9.92527C17.4853 14.013 14.1436 17.3391 10.0378 17.3391ZM14.1235 11.7868C13.8997 11.6751 12.7976 11.1359 12.5935 11.0616C12.3894 10.9872 12.2388 10.9498 12.0897 11.1733C11.9406 11.3966 11.5111 11.8965 11.3805 12.0471C11.2499 12.1978 11.1193 12.2143 10.8955 12.1026C10.6718 11.9909 9.94976 11.7558 9.09438 10.9965C8.4286 10.4054 7.97944 9.67582 7.84884 9.45281C7.71824 9.2298 7.83476 9.10888 7.94684 8.99799C8.04771 8.89796 8.17065 8.73763 8.28277 8.60745C8.39485 8.47723 8.43224 8.38402 8.50655 8.2354C8.5809 8.08674 8.54389 7.95652 8.48806 7.84528C8.43224 7.73397 7.98423 6.63667 7.7978 6.19031C7.61577 5.75558 7.43137 5.81462 7.29396 5.80781C7.16336 5.80138 7.01275 5.79977 6.86443 5.79977C6.75113 5.80272 6.63962 5.82904 6.53688 5.87699C6.43414 5.92494 6.34245 5.99362 6.26738 6.07861C6.06212 6.302 5.48351 6.842 5.48351 7.93808C5.48351 9.03415 6.28712 10.0949 6.39797 10.2435C6.50891 10.3922 7.97699 12.6434 10.2234 13.6088C10.6405 13.7875 11.0667 13.9442 11.5003 14.0781C12.0366 14.2477 12.5248 14.224 12.9105 14.1666C13.3408 14.1027 14.2364 13.6273 14.4224 13.1066C14.6085 12.5859 14.6089 12.1399 14.553 12.0471C14.4972 11.9543 14.3477 11.8981 14.1235 11.7868Z" fill="black"/>
</svg>
          </a>
        </div>
        <p class="copyright">All rights reserved © The Feel Good Clinic.</p>
        <div class="legal-links">
          <a href="https://support.thefeelgoodclinic.com/hc/en-au/articles/12621156930063-Privacy-policy" class="legal-link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="crisis-banner">
    <a href="https://www.lifeline.org.au/" target="_blank">Lifeline</a> provides 24-hour crisis counselling, support groups and suicide
    prevention services. <br/> Call 13 11 14, text 0477 13 11 14, or chat online.
  </div>

  <!--<div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>-->
</footer>
