<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <div class="search-header">How can we help you?</div>
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <div class="search-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
    {{#is brand.id 13442527968655}}
    	<div class="common-topics">Common topics: <span id="top-tags"></span></div>
    {{/is}}
  </div>
</section>

{{#is brand.id 13442527968655}}
	<div class="container">
	  <section class="section knowledge-base">
	    <section class="resource-cards">
	      <a href="/hc/en-au/categories/12795531568143-Playbooks" class="card-link" aria-label="Core company information for team members">
	        <article class="resource-card">
	          <header class="card-header">
	            <svg
	              width="24"
	              height="24"
	              viewBox="0 0 24 24"
	              fill="none"
	              xmlns="http://www.w3.org/2000/svg"
	              class="card-icon"
	              aria-hidden="true"
	            >
	              <path
	                d="M19.5 2.25H6.75C5.95435 2.25 5.19129 2.56607 4.62868 3.12868C4.06607 3.69129 3.75 4.45435 3.75 5.25V21C3.75 21.1989 3.82902 21.3897 3.96967 21.5303C4.11032 21.671 4.30109 21.75 4.5 21.75H18C18.1989 21.75 18.3897 21.671 18.5303 21.5303C18.671 21.3897 18.75 21.1989 18.75 21C18.75 20.8011 18.671 20.6103 18.5303 20.4697C18.3897 20.329 18.1989 20.25 18 20.25H5.25C5.25 19.8522 5.40804 19.4706 5.68934 19.1893C5.97064 18.908 6.35218 18.75 6.75 18.75H19.5C19.6989 18.75 19.8897 18.671 20.0303 18.5303C20.171 18.3897 20.25 18.1989 20.25 18V3C20.25 2.80109 20.171 2.61032 20.0303 2.46967C19.8897 2.32902 19.6989 2.25 19.5 2.25ZM11.25 3.75H15.75V10.5L13.9491 9.15C13.8192 9.05263 13.6613 9 13.4991 9C13.3368 9 13.1789 9.05263 13.0491 9.15L11.25 10.5V3.75ZM18.75 17.25H6.75C6.22326 17.2493 5.70572 17.388 5.25 17.6522V5.25C5.25 4.85218 5.40804 4.47064 5.68934 4.18934C5.97064 3.90804 6.35218 3.75 6.75 3.75H9.75V12C9.75 12.1393 9.78879 12.2758 9.86201 12.3943C9.93524 12.5128 10.04 12.6085 10.1646 12.6708C10.2892 12.7331 10.4286 12.7595 10.5674 12.747C10.7061 12.7345 10.8386 12.6836 10.95 12.6L13.5 10.6875L16.0509 12.6C16.1805 12.6972 16.338 12.7498 16.5 12.75C16.6989 12.75 16.8897 12.671 17.0303 12.5303C17.171 12.3897 17.25 12.1989 17.25 12V3.75H18.75V17.25Z"
	                fill="black"
	              ></path>
	            </svg>
	          </header>
	          <div class="card-content">
	            <h2 class="card-title">Playbooks</h2>
	            <p class="card-description">
	              <span>Core company documentation.</span>
	              <!--<br />
	              <span>Lean more</span>-->
	            </p>
	          </div>
	        </article>
	      </a>
	
	      <a href="/hc/en-au/categories/12279695887375" class="card-link" aria-label="Resources for team members">
	        <article class="resource-card">
	          <header class="card-header">
	            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
	<path d="M13.5 18C13.5 18.1989 13.421 18.3897 13.2803 18.5303C13.1397 18.671 12.9489 18.75 12.75 18.75H11.25C11.0511 18.75 10.8603 18.671 10.7197 18.5303C10.579 18.3897 10.5 18.1989 10.5 18C10.5 17.8011 10.579 17.6103 10.7197 17.4697C10.8603 17.329 11.0511 17.25 11.25 17.25H12.75C12.9489 17.25 13.1397 17.329 13.2803 17.4697C13.421 17.6103 13.5 17.8011 13.5 18ZM11.25 6.75H12.75C12.9489 6.75 13.1397 6.67098 13.2803 6.53033C13.421 6.38968 13.5 6.19891 13.5 6C13.5 5.80109 13.421 5.61032 13.2803 5.46967C13.1397 5.32902 12.9489 5.25 12.75 5.25H11.25C11.0511 5.25 10.8603 5.32902 10.7197 5.46967C10.579 5.61032 10.5 5.80109 10.5 6C10.5 6.19891 10.579 6.38968 10.7197 6.53033C10.8603 6.67098 11.0511 6.75 11.25 6.75ZM12.75 11.25H11.25C11.0511 11.25 10.8603 11.329 10.7197 11.4697C10.579 11.6103 10.5 11.8011 10.5 12C10.5 12.1989 10.579 12.3897 10.7197 12.5303C10.8603 12.671 11.0511 12.75 11.25 12.75H12.75C12.9489 12.75 13.1397 12.671 13.2803 12.5303C13.421 12.3897 13.5 12.1989 13.5 12C13.5 11.8011 13.421 11.6103 13.2803 11.4697C13.1397 11.329 12.9489 11.25 12.75 11.25ZM20.25 3.75V20.25C20.25 20.6478 20.092 21.0294 19.8107 21.3107C19.5294 21.592 19.1478 21.75 18.75 21.75H5.25C4.85218 21.75 4.47064 21.592 4.18934 21.3107C3.90804 21.0294 3.75 20.6478 3.75 20.25V3.75C3.75 3.35218 3.90804 2.97064 4.18934 2.68934C4.47064 2.40804 4.85218 2.25 5.25 2.25H18.75C19.1478 2.25 19.5294 2.40804 19.8107 2.68934C20.092 2.97064 20.25 3.35218 20.25 3.75ZM5.25 14.25H18.75V9.75H5.25V14.25ZM5.25 3.75V8.25H18.75V3.75H5.25ZM18.75 20.25V15.75H5.25V20.25H18.75Z" fill="black"/>
	</svg>
	          </header>
	          <div class="card-content">
	            <h2 class="card-title">Resources</h2>
	            <p class="card-description">
	              <span>Team resources and documents.</span>
	              <!--<br />
	              <span>Learn more</span>-->
	            </p>
	          </div>
	        </article>
	      </a>
	
	      <a href="/hc/en-au/categories/12279744997263" class="card-link" aria-label="Team member policies">
	        <article class="resource-card">
	          <header class="card-header">
	            <svg
	              width="24"
	              height="24"
	              viewBox="0 0 24 24"
	              fill="none"
	              xmlns="http://www.w3.org/2000/svg"
	              class="card-icon"
	              aria-hidden="true"
	            >
	              <path
	                d="M15.75 14.25C15.75 14.4489 15.671 14.6397 15.5303 14.7803C15.3897 14.921 15.1989 15 15 15H9C8.80109 15 8.61032 14.921 8.46967 14.7803C8.32902 14.6397 8.25 14.4489 8.25 14.25C8.25 14.0511 8.32902 13.8603 8.46967 13.7197C8.61032 13.579 8.80109 13.5 9 13.5H15C15.1989 13.5 15.3897 13.579 15.5303 13.7197C15.671 13.8603 15.75 14.0511 15.75 14.25ZM15 10.5H9C8.80109 10.5 8.61032 10.579 8.46967 10.7197C8.32902 10.8603 8.25 11.0511 8.25 11.25C8.25 11.4489 8.32902 11.6397 8.46967 11.7803C8.61032 11.921 8.80109 12 9 12H15C15.1989 12 15.3897 11.921 15.5303 11.7803C15.671 11.6397 15.75 11.4489 15.75 11.25C15.75 11.0511 15.671 10.8603 15.5303 10.7197C15.3897 10.579 15.1989 10.5 15 10.5ZM20.25 4.49999V20.25C20.25 20.6478 20.092 21.0293 19.8107 21.3106C19.5294 21.592 19.1478 21.75 18.75 21.75H5.25C4.85218 21.75 4.47064 21.592 4.18934 21.3106C3.90804 21.0293 3.75 20.6478 3.75 20.25V4.49999C3.75 4.10216 3.90804 3.72063 4.18934 3.43933C4.47064 3.15802 4.85218 2.99999 5.25 2.99999H8.64937C9.07079 2.52817 9.58709 2.15066 10.1645 1.8922C10.7419 1.63373 11.3674 1.50012 12 1.50012C12.6326 1.50012 13.2581 1.63373 13.8355 1.8922C14.4129 2.15066 14.9292 2.52817 15.3506 2.99999H18.75C19.1478 2.99999 19.5294 3.15802 19.8107 3.43933C20.092 3.72063 20.25 4.10216 20.25 4.49999ZM9 5.99999H15C15 5.20434 14.6839 4.44128 14.1213 3.87867C13.5587 3.31606 12.7956 2.99999 12 2.99999C11.2044 2.99999 10.4413 3.31606 9.87868 3.87867C9.31607 4.44128 9 5.20434 9 5.99999ZM18.75 4.49999H16.2422C16.4128 4.98169 16.5 5.48896 16.5 5.99999V6.74999C16.5 6.9489 16.421 7.13966 16.2803 7.28032C16.1397 7.42097 15.9489 7.49999 15.75 7.49999H8.25C8.05109 7.49999 7.86032 7.42097 7.71967 7.28032C7.57902 7.13966 7.5 6.9489 7.5 6.74999V5.99999C7.50002 5.48896 7.58721 4.98169 7.75781 4.49999H5.25V20.25H18.75V4.49999Z"
	                fill="black"
	              ></path>
	            </svg>
	          </header>
	          <div class="card-content">
	            <h2 class="card-title">Policies</h2>
	            <p class="card-description">
	              <span>Core company policies.</span>
	              <!--<br />
	              <span>Learn more</span>-->
	            </p>
	          </div>
	        </article>
	      </a>
	    </section>
	    <!--<h2 class="visibility-hidden">{{ t 'categories' }}</h2>
	    <section class="categories blocks">
	      <ul class="blocks-list">
	        {{#each categories}}
	          {{#if ../has_multiple_categories}}
	            <li class="blocks-item">
	              <a href='{{url}}' class="blocks-item-link">
	                <span class="blocks-item-title">{{name}}</span>
	                <span class="blocks-item-description">{{excerpt description}}</span>
	              </a>
	            </li>
	          {{else}}
	            {{#each sections}}
	              <li class="blocks-item">
	                <a href='{{url}}' class="blocks-item-link">
	                  <span class="blocks-item-title">
	                    {{name}}
	                  </span>
	                  <span class="blocks-item-description">{{excerpt description}}</span>
	                </a>
	              </li>
	            {{/each}}
	          {{/if}}
	        {{/each}}
	      </ul>
	      {{pagination}}
	    </section>-->
  	{{/is}}

    {{#if promoted_articles}}
        <section class="featured-container">
          <header class="featured-header">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="star-icon"
            >
              <path
                d="M4.895 13.3897C4.51672 13.6179 4.05003 13.2793 4.1496 12.8489L4.96666 9.31665L2.22582 6.94041C1.89205 6.65105 2.07003 6.1027 2.51011 6.0645L6.13333 5.74998L7.53944 2.42302C7.71151 2.01589 8.28848 2.01589 8.46055 2.42302L9.86666 5.74998L13.4899 6.0645C13.93 6.1027 14.1079 6.65104 13.7742 6.94041L11.0333 9.31665L11.8504 12.8489C11.95 13.2793 11.4833 13.6179 11.105 13.3897L8 11.5166L4.895 13.3897Z"
                fill="#BD96CE"
              ></path>
            </svg>
          <h2 class="featured-title">Featured articles</h2>
        </header>
        <div class="articles-list">
          {{#each (slice promoted_articles 0 6)}}
          <article class="article-item">
            <div class="article-inner">
              <h3 class="article-title"><a href="{{url}}">{{title}}</a></h3>
              <p class="article-description">
                {{snippet}}
              </p>
            </div>
          </article>
          {{/each}}
        </div>
      </section>

      <section class="featured-container">
        <header class="featured-header">
          <h2 class="featured-title">Latest articles</h2>
        </header>
        <div class="articles-list" id="recent-articles"></div>
      </section>
    </section>
  {{/if}}

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}
	{{#if settings.show_recent_activity}}
  	<section class="section home-section activity">
    	{{recent_activity}}
  	</section>
  {{/if}}
</div>
